<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Analysis</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="upload.html">Detect Deepfake</a>
        <a href="about_us.html">About Us</a>
        <a href="contact_us.html">Contact Us</a>
        <a href="terms_of_service.html">Terms of Service</a>
        <a href="privacy_policy.html">Privacy Policy</a>
    </div>

    <span class="menu-icon" onclick="openNav()">&#9776;</span>

    <div class="header">
        <h1 class="lobster-regular"><a href="upload.html">Deepfake Detector.</a></h1>
    </div>

    <div class="main-container">
        <h1>Deepfake Analysis in Progress...</h1>
        <div class="content">
            <div class="graph-container">
                <h2>Multi-attentional Analysis</h2>
                <canvas id="multiAttentionalAnalysisChart"></canvas>
            </div>

            <div class="graph-container">
                <h2>Frequency Domain Analysis</h2>
                <canvas id="frequencyDomainAnalysisChart"></canvas>
            </div>

            <div class="progress-container">
                <div id="progress-bar"></div>
            </div>
            <span id="percentage">0%</span>
            <div id="button-container"></div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-item">
            <span class="brand-name">Deepfake Detector</span>
        </div>
        <div class="footer-item">
            <a href="about_us.html">About Us</a>
        </div>
        <div class="footer-item">
            <a href="contact_us.html">Contact Us</a>
        </div>
        <div class="footer-item">
            <a href="terms_of_service.html">Terms of Service</a>
        </div>
        <div class="footer-item">
            <a href="privacy_policy.html">Privacy Policy</a>
        </div>
        <div class="footer-item">
            <a>108 Waring Hall, University Park, PA 16802</a>
        </div>
        <div class="footer-item">
            <a>© 2024 Deepfake Detector, Inc.</a>
        </div>
    </div>

    <div id="myOverlay" class="overlay" onclick="closeNav()"></div>
    <script src="/static/analyze.js"></script>
</body>
</html>