<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Detector</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <!-- Navigation Menu -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="upload.html">Detect Deepfake</a>
        <a href="about_us.html">About Us</a>
        <a href="contact_us.html">Contact Us</a>
        <a href="terms_of_service.html">Terms of Service</a>
        <a href="privacy_policy.html">Privacy Policy</a>
    </div>
    
    <!-- Hamburger icon -->
    <span class="menu-icon" onclick="openNav()">&#9776;</span>
    
    <div class = "header">
        <h1 class="lobster-regular"><a href="upload.html">Deepfake Detector.</a></h1>
    </div>

    <div class="main-container">        
        <p class="description">Upload your media to detect any possible DeepFakes!</p>
        <input type="file" id="file-input" style="display: none;" accept="image/*,video/*">
        <label for="file-input" class="upload-button">
            <i class="fas fa-upload"></i> Choose file
        </label>
        
        <span id="file-chosen">No file chosen</span>
        <button id="upload-button">Upload</button>
       
        <!-- Terms of Service and Privacy Policy Checkbox -->
        <div class="terms">
            <input type="checkbox" id="terms-checkbox">
            <label for="terms-checkbox">You must check the agreement box in order to proceed. By submitting data, you are agreeing to the 
                <a href="terms_of_service.html" target="_blank">Terms of Service</a> and 
                <a href="privacy_policy.html" target="_blank">Privacy Policy</a>.
            </label>
        </div>
    </div>

    <div class="footer">
        <div class="footer-item">
            <span class="brand-name">Deepfake Detector</span>
        </div>
        <div class="footer-item">
            <a href="about_us.html">About Us</a>
        </div>
        <div class="footer-item">
            <a href="contact_us.html">Contact Us</a>
        </div>
        <div class="footer-item">
            <a href="terms_of_service.html">Terms of Service</a>
        </div>
        <div class="footer-item">
            <a href="privacy_policy.html">Privacy Policy</a>
        </div>
        <div class="footer-item">
            <a>108 Waring Hall, University Park, PA 16802</a>
        </div>
        <div class="footer-item">
            <a>© 2024 Deepfake Detector, Inc.</a>
        </div>
    </div>
    <script src="/static/main.js"></script>
</body>

<div id="myOverlay" class="overlay" onclick="closeNav()"></div>
</html>